



.nav-pills {
    .nav-link {
        font-weight: 400;
        list-style: decimal;
    }

    .nav-link.active {
        color: var(--primary-color);
        background: transparent;
    }
}

@media (max-width: 991px) {
    .nav {
        margin-bottom: 30px;
    }
}